*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    display: grid;
    place-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 600px;
    height: 600px;
    background-color: #fff;
    border: 2px solid #000;
}

.grid-item {
    width: 37px;
    height: 37px;
}